* {
  margin: 0;
  padding: 0;
  font-family: san-serif;
}

.container{
  height: 100vh;
  width: 100%;
  background-image: url(Mybackground.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

.content {
  width: 88%;
  margin: auto;
}

.content .logo {
  width: 80%;
  margin-top: px;
}

.content hr {
  border: none;
  height: 6px;
  max-width: 280px;
  marging-top: 8px;
  background: #ffalal;
}

.content h1{
  font-size: 180px;
  font-weight: 100;
  color: #cfcfcf;
  margin-top: 60px;
  margin-bottom: 30px;
  letter-spacing: 4px;
  line-height: 160px;
}























